<section class="bg-slate-100 p-10 w-full">
  <div>
    <h3 class="text-3xl my-3">Get the FreshCart app</h3>
    <p class="text-xl text-gray-500 text-light">
      We will send you a link, open it on your phone to download the app
    </p>
  </div>
  <div class="flex flex-wrap items-center pb-5">
    <form class="w-full md:w-[80%] md:p-5">
      <div class="relative my-3">
        <input
          type="text"
          placeholder="Email ..."
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
        />
      </div>
    </form>
    <div class="w-full md:w-[20%]">
      <button
        type="button"
        class="rounded bg-green-600 hover:bg-green-700 px-5 py-2.5 text-white"
      >
        Share App Link
      </button>
    </div>
  </div>
  <div class="flex justify-between items-center flex-wrap">
    <div class="flex items-center gap-5">
      <p>Payment Partners</p>
      <img
        class="w-[30px]"
        src="assets/images/amazon-pay.png"
        alt="amazon-pay"
      />
      <img
        class="w-[30px]"
        src="assets/images/American-Express-Color.png"
        alt="american-express"
      />
      <img
        class="w-[30px]"
        src="assets/images/mastercard.webp"
        alt="mastercard"
      />
      <img class="w-[30px]" src="assets/images/paypal.png" alt="paypal" />
    </div>
    <div class="flex items-center ms-auto">
      <p>Get deliveries with FreshCart</p>
      <img class="w-[80px]" src="assets/images/get-apple-store.png" alt="" />
      <img class="w-[80px]" src="assets/images/get-google-play.png" alt="" />
    </div>
  </div>
</section>
